ColorSharp/ColorSharp/obj/*
ColorSharp\ColorSharp\obj\*
ColorSharp/ColorSharp/bin/*
ColorSharp\ColorSharp\bin\*
ColorSharp/packages/*
ColorSharp\packages\*
ColorSharp/ColorSharp.userprefs
ColorSharp\ColorSharp.userprefs

